<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ELOS!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-no-repeat bg-cover bg-center min-h-screen" style="background-image: url('{{ url_for('static', filename='images/background.jpeg') }}');">
    <div class="container mx-auto px-4 py-8 bg-black bg-opacity-50 backdrop-filter backdrop-blur-md rounded-lg shadow-lg mt-8">
        <!-- <h1 class="text-4xl font-bold text-center mb-8 text-gradient">Welcome to ELOS!</h1> -->
        <!-- <h1 class="text-5xl inline-block font-bold text-center mb-8 bg-clip-text text-transparent bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400">Welcome to ELOS!</h1> -->
        <div class="text-center">
            <h1 class="text-6xl inline-block font-bold mb-8 bg-clip-text text-transparent bg-gradient-to-r from-blue-700 via-yellow-600 to-indigo-200">Welcome ELOS!</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
            <a href="{{ url_for('kubernetes') }}" class="group relative overflow-hidden bg-white bg-opacity-20 backdrop-filter backdrop-blur-sm rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 h-64 mt-20">
                <div class="absolute inset-0 w-[calc(100%+1rem)] h-[calc(100%+1rem)] -m-2 transition-transform duration-300 ease-in-out group-hover:scale-105">
                    <img src="{{ url_for('static', filename='images/kubernetes.jpg') }}" alt="Kubernetes" class="w-full h-full object-cover">
                </div>
                <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70"></div>
                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h2 class="text-2xl inline-block font-bold bg-clip-text text-transparent bg-gradient-to-r from-indigo-200 to-blue-400">Kubernetes</h2>
                </div>
            </a>            
            <a href="{{ url_for('docker') }}" class="group relative overflow-hidden bg-white bg-opacity-20 backdrop-filter backdrop-blur-sm rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 h-56 mt-7">
                <div class="absolute inset-0 w-[calc(100%+1rem)] h-[calc(100%+1rem)] -m-2 transition-transform duration-300 ease-in-out group-hover:scale-105">
                    <img src="{{ url_for('static', filename='images/docker.jpg') }}" alt="Docker" class="w-full h-full object-cover">
                </div>
                <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70"></div>
                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h2 class="text-2xl inline-block font-bold bg-clip-text text-transparent bg-gradient-to-r from-indigo-100 via-indigo-300 to-blue-600">Docker</h2>
                </div>
            </a>
            <a href="{{ url_for('cloud_native') }}" class="group relative overflow-hidden bg-white bg-opacity-20 backdrop-filter backdrop-blur-sm rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 h-72 mt-16">
                <div class="absolute inset-0 w-[calc(100%+1rem)] h-[calc(100%+1rem)] -m-2 transition-transform duration-300 ease-in-out group-hover:scale-105">
                    <img src="{{ url_for('static', filename='images/cloud-native.jpg') }}" alt="Cloud Native Apps" class="w-full h-full object-cover">
                </div>
                <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70"></div>
                <div class="relative p-6 h-full flex flex-col justify-end">
                    <h2 class="text-2xl inline-block font-bold bg-clip-text text-transparent bg-gradient-to-r from-indigo-200 to-yellow-800">Cloud Native Apps</h2>
                </div>
            </a>  
            <!-- <a href="{{ url_for('cloud_native') }}" class="group relative overflow-hidden bg-white bg-opacity-20 backdrop-filter backdrop-blur-sm rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105">
                <img src="{{ url_for('static', filename='images/cloud-native.jpg') }}" alt="Cloud Native Apps" class="w-full h-48 object-cover transition duration-300 ease-in-out transform group-hover:scale-110">
                <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70"></div>
                <div class="absolute bottom-0 left-0 right-0 p-6">
                    <h2 class="text-2xl font-bold text-white">Cloud Native Apps</h2>
                </div>
            </a> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>